<div class="col-lg-6 col-md-6 co-pd">
	{{ content.field_company_list_icon.0 }}
  <div class="about-caption">
    <h4>{{ content.field_list_title.0 }}</h4>
    <span>{{ content.field_list_caption.0 }}</span>
  </div>
</div>