 <div class="item">
	<div class="testimonial-caption">
	  <img src="{{ file_url(content.field_testimonial_image['#items'].entity.uri.value) }}" alt="testimonial" title="testimonial" class="img-responsive">
	  <h4>{{ content.field_testi_name.0  }}</h4>
	  <span>{{ content.field_testi_designation.0 }}</span>
	</div> 
	<p>{{ content.field_testi_desc.0 }}</p>  
</div>