
<li>
  {{ content.field_about_service_icon.0 }}
  <div class="about-caption">
    <h4>{{ content.field_about_service_count.0 }}</h4>
    <span>{{ content.field_about_service.0 }}</span>
  </div>
</li>