
<form>
	<div class="form-group">
	  {{ element.elements.lorem_ipsum_dolor_sit_amet_consectetur_ }}
	  {{ element.elements.actions }}
	  <button type="submit"><span class="fa fa-paper-plane"></span></button>
	</div>
</form>